@model List<int>

<style>
    ul li {
        list-style-type: none;
    }
</style>

<div style="background-color: #ffdd00; text-align: center;">
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("Class", "Teacher", new { classId = Model[0]})"><h3>Powrót do klasy</h3></a>
        </div>
    </div>
    @if (Model.Count > 1)
    {
     <div class="row">
         <div class="col-md-12">
             <a href="@Url.Action("Lesson", "Teacher", new { lessonId = Model[1], previewTypeId = 1})"><h3>Oceny</h3></a>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
             <a href="@Url.Action("Lesson", "Teacher", new { lessonId = Model[1], previewTypeId = 2})"><h3>Tematy</h3></a>
         </div>
     </div>
    }
</div>