@model List<GradeNet.Infrastructure.ViewModels.SubjectViewModel>
@{ int i = 1; }
<h4>Tematy</h4>
<table>
    <tr>
        <th>
            lp.
        </th>
        <th>
            Data
        </th>
        <th>
            Temat
        </th>
        <th></th>
    </tr>
    @foreach (var sb in Model)
    {
        <tr>
            <td style="text-align: center;">
                @i.ToString().
            </td>
            <td>
                @sb.SubjectDate.ToString("dd/MM/yyyy")
            </td>
            <td width="100%">
                @sb.Subject
            </td>
            <td>
                <input type="submit" value="Edytuj" />
            </td>
        </tr>
        i++;
    }
</table>
<br />
<input type="submit" value="Dodaj" />
