<ul>
    <li>
        Dziennik
        <ul>
            <li><a href="javascript:FindClass()">Znajdź klasę</a></li>
            <li><a href="javascript:alert('Znajdź ucznia');">Znajdź ucznia</a></li>
        </ul>
    </li>
</ul>