@model List<GradeNet.Infrastructure.ViewModels.StudentViewModel>
@{ string name = ""; }
<style>
    .content {
        border: 1px solid #aaa;
        padding-bottom: 15px;
        margin-top: 15px;
    }

    hr {
        width: 95%;
    }

    table {
        border-collapse: collapse;
    }

    table, td, th {
        border: 1px solid black;
    }

    td, th {
        padding: 3px 10px;
    }
</style>

<div class="row" style="padding: 0 15px 0 0;">
    <div class="col-md-2">
        @Html.Partial("~/Views/Teacher/_LeftSidePanel_Class.cshtml", (int)ViewBag.ClassId)
    </div>
    <div class="col-md-10 content">
        <h4>Wybór ucznia:</h4>
        <hr>
        <div class="row" style="margin-bottom:10px;">
            <div class="col-md-8">
                <table>
                    <tr>
                        <th>
                            lp.
                        </th>
                        <th width="60%">
                            Nazwisko i imię
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var student in Model)
                    {
                        name = String.IsNullOrEmpty(student.SecondName) ? $"{student.Surname} {student.FirstName}" : $"{student.Surname} {student.FirstName} {student.SecondName}";
    
                        <tr>
                            <td style="text-align: center;">
                                @student.StudentId.ToString().
                            </td>
                            <td>
                                @name
                            </td>
                            <td>
                                <form action="StudentsComments" method="get">
                                    <input type="hidden" name="studentId" value="@student.StudentId" />
                                    <input type="hidden" name="classId" value="@ViewBag.ClassId" />
                                    <input type="submit" value="Podgląd" />
                                </form>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>