    <div class="container" style="background-color: #ffdd00; height: 40px; line-height: 40px; text-align: center; margin-bottom: 1%;">
        <div class="row">
            <div class="col-md-2">
                @Html.ActionLink("Strona główna", "Index", "Home")
            </div>
            <div class="col-md-9"></div>
            <div class="col-md-1">
                @Html.ActionLink("Wyloguj", "LogOut", "Home")
            </div>
        </div>
    </div>